/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 sept. 2014, 10:08:18
    Author     : dardelet
*/

.title
{
    text-align:center;  
}

.cont
{
    width: 500px;
    height: 500px;
    border: 2px dotted black;  
    margin:0 auto;
    padding:0;
    word-break:break-all;
    // To remove
    //display:inline-block;
    //float:left; 
}

.block
{
    font-size: 20px;
    margin:0;
    padding:0;
    display: inline-block;
}

.invisible
{
    display:none;
}

.white
{
    color:white;    
}

.errors
{
    color:red;
    text-align: center;
    font-size:30px;
    margin:0 auto;
}

.matrix
{
    display:none;
}